name: Unit-tests for Pip install

on:
  pull_request:
  push:
    branches:
      - master

  workflow_dispatch:

jobs:
  tests:
    strategy:
      matrix:
        include:
          # Test latest PyTorch with all Python versions
          - pytorch_args: "-v 2.9.0"
            transformers_args: "-t 4.57.1"
            docker_img: "cimg/python:3.10"
          - pytorch_args: "-v 2.9.0"
            transformers_args: "-t 4.57.1"
            docker_img: "cimg/python:3.11"
          - pytorch_args: "-v 2.9.0"
            transformers_args: "-t 4.57.1"
            docker_img: "cimg/python:3.12"
          - pytorch_args: "-v 2.9.0"
            transformers_args: "-t 4.57.1"
            docker_img: "cimg/python:3.13"
          # Test intermediate PyTorch versions
          - pytorch_args: "-v 2.7.0"
            transformers_args: "-t 4.53.0"
            docker_img: "cimg/python:3.11"
          - pytorch_args: "-v 2.5.0"
            transformers_args: "-t 4.45.2"
            docker_img: "cimg/python:3.10"
          # Test oldest supported PyTorch for backward compatibility
          - pytorch_args: "-v 2.3.0"
            transformers_args: "-t 4.43.0"
            docker_img: "cimg/python:3.10"
      fail-fast: false
    uses: pytorch/test-infra/.github/workflows/linux_job_v2.yml@main
    with:
      runner: linux.12xlarge
      docker-image: ${{ matrix.docker_img }}
      repository: pytorch/captum
      script: |
        sudo chmod -R 777 .
        ./scripts/install_via_pip.sh ${{ matrix.pytorch_args }} ${{ matrix.transformers_args }}
        # Run Tests
        python3 -m pytest -ra --cov=. --cov-report term-missing
